<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>13A5939C-9A72-46A6-A885-6CFC40BA19DB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>br</string>
			<key>spaces</key>
			<string>-</string>
			<key>text</key>
			<string>Brew</string>
			<key>url</key>
			<string>https://formulae.brew.sh/formula/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5C51D47F-4F29-4168-A169-7E246F67EB70</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/search?q={query}&amp;ref=simplesearch</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BEAA0578-620B-4390-A9BF-05887BD46183</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cr</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Crunchyroll</string>
			<key>url</key>
			<string>https://www.crunchyroll.com/search?from=&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E6DD194E-C76D-491E-868B-369A440ABF1E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>watch</string>
			<key>spaces</key>
			<string>-</string>
			<key>text</key>
			<string>HDSeries</string>
			<key>url</key>
			<string>https://hdseries.cc/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
